@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

// const colors
$dark: rgb(31, 31, 31);
$light: rgb(245 245 245);
$gray: rgb(90, 89, 89);

.app {
  background-image: radial-gradient(
    circle,
    rgb(90, 89, 89),
    rgb(74, 74, 74),
    rgb(59, 59, 59),
    rgb(45, 45, 45),
    rgb(31, 31, 31)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Sora', sans-serif;
  font-weight: 400;

  &-light {
    background-image: radial-gradient(
      circle,
      rgb(254, 255, 255),
      rgb(235, 236, 236),
      rgb(217, 217, 217),
      rgb(198, 198, 198),
      rgb(180, 180, 180)
    );
  }
}

main {
  height: 37rem;
  width: 28rem;
  margin-top: 2rem;
  border: 2px solid $gray;
  background-color: $dark;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 4px 16px -3px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 5px 4px 16px -3px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 5px 4px 16px -3px rgba(0, 0, 0, 0.86);
  overflow: hidden;

  &-light {
    background-color: $light;
  }
}

.display {
  width: 100%;
  height: 7rem;
  border-bottom: 2px solid $gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-result {
    font-size: 2.5rem;
    color: $light;
    margin-right: 2rem;
  }
}

.menu {
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  user-select: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 5.5rem;
  color: $light;
  font-size: 2rem;
  border-radius: 50px;
  border: 1px solid $gray;

  &-dark {
    background-color: $dark;

    &-big {
      width: 13rem;
      background-color: $dark;
    }
  }

  &-orange {
    background-color: rgb(231, 186, 71);
  }

  &-dark-gray {
    background-color: rgb(180, 180, 180);
  }

  &-light {
    background-color: $light;

    &-big {
      width: 13rem;
      background-color: $light;
    }
  }

  &-ligt-text {
    color: $dark;
  }
}

.button:hover {
  cursor: pointer;
  background-color: $light;
  color: $dark;
}

.button-light-hover:hover {
  cursor: pointer;
  color: $light;
  background-color: $dark;
}

.theme-menu-button {
  background-color: $light;
  width: 8rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  margin-top: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 5px 4px 16px -3px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 5px 4px 16px -3px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 5px 4px 16px -3px rgba(0, 0, 0, 0.86);

  &-dark {
    background-color: $dark;
    color: $light;
  }
}

.theme-menu-button:hover {
  cursor: pointer;
  background-color: $dark;
  color: $light;
}

.theme-menu-button-dark:hover {
  background-color: $light;
  color: $dark;
}
.light {
  background-color: $light;
  color: $dark;
}

.sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px -6px/2px
      6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px
      14px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px
      5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}
.sun::after,
.sun::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}
.sun::before {
  transform: rotate(-45deg);
}
.sun::after {
  transform: rotate(45deg);
}

.moon,
.moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
.moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
}
.moon::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

@media (max-width: 768px) {
  .main {
    width: 20rem;
    height: 30rem;
  }

  .display-result {
    font-size: 1.8rem;
  }

  .button {
    width: 4.2rem;
    height: 4.2rem;

    &-dark-big {
      width: 9.2rem;
    }
    &-light-big {
      width: 9.2rem;
    }
  }
}
